<h2>メッセージ</h2>

<div class="my-3 p-3 bg-white rounded shadow-sm">
<h6 class="border-bottom pb-2 mb-0">最近のメッセージ</h6>

<% @messages.each do |message| %>
  <div class="d-flex text-muted pt-3">
    <img class="me-3 rounded-circle" src="<%=gravatar_url(message.sender, { size: 60 }) %>" alt="">
    <div class="pb-1 mb-0 small lh-sm border-bottom">
      <p class="d-block text-gray-dark"><%= link_to message.sender.name, message_new_path(chat_user_id: message.sender.id) %></p>
      <%= message.content%><br>
      <% message_time = message.created_at + ( 9 * 60 * 60 ) %>
      <%= message_time.strftime("%Y年%m月%d日%H:%M")%>
    </div>
  </div>
<% end %>

</div>
<%== pagy_bootstrap_nav(@pagy) %>
