<div class="text-center">
  <h2>ユーザー登録</h2>
</div>

<div class="row justify-content-center">
  <div class="col-sm-6">

    <%= form_with(model: @user) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

      <div class="m-3">
        <%= f.text_field :name, placeholder: 'ユーザ名', class: 'form-control' %>
      </div>
      <div class="m-3">
        <%= f.email_field :email, placeholder: 'メールアドレス', class: 'form-control' %>
      </div>
      <div class="row m-3 py-2 border rounded">
          <div class="col-sm-4 m-1">
            性別
          </div>
          <div style="text-align: center">
            <%= f.radio_button :gender, :男性 %>
            <%= f.label :gender, "男性", {value: :男性, style: "display: inline-block;"} %>
            <%= f.radio_button :gender, :女性 %>
            <%= f.label :gender, "女性", {value: :女性, style: "display: inline-block;"} %>
          </div>
      </div>
      <div class="row m-3 py-2 border rounded">
        <div class="col-sm-4 m-1">
          生年月日
        </div>
        <div>
          <%= f.date_field :birth, class: 'form-control' %>
        </div>
      </div>
      <%= f.fields_for :children do |c| %>
        <div class="row m-3 py-2 border rounded">
          <div class="col-sm-6 m-1">
            お子様性別
          </div>
          <div class="col-sm-16" style="text-align: center">
            <%= c.radio_button :child_gender, :男性 %>
            <%= c.label :child_gender, "男性", {value: :男性, style: "display: inline-block;"} %>
            <%= c.radio_button :child_gender, :女性 %>
            <%= c.label :child_gender, "女性", {value: :女性, style: "display: inline-block;"} %>
          </div>
        </div>
        <div class="row m-3 p-2 border rounded">
          <div class="col-sm-8 m-1 px-0">
            お子様の生年月日または出産予定日      
          </div>
          <div class="sm-16">
            <%= c.date_field :child_birth, class: 'form-control' %>
          </div>
        </div>
      <% end%>
      
      <div class="m-3">
        <%= f.password_field :password, placeholder: 'パスワード', class: 'form-control' %>
      </div>
      
      <div class="m-3">
        <%= f.password_field :password_confirmation, placeholder: 'パスワード再入力', class: 'form-control' %>
      </div>
      
      <div class="m-3">
        <%= f.submit 'ユーザー登録', class: 'btn btn-secondary w-100' %>
      </div>
    <% end %>
  </div>
</div>