<h2 class=pb-3>ユーザー情報</h2>
<div style="text-align: center">
  <img class="rounded-circle me-2 mt-1" src="<%= gravatar_url(@user, { size: 64 }) %>" alt="">
</div>

<div class="row justify-content-center">
  <div class="col-sm-6 offset-sm-3">
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="staticName" class="col-form-label">ユーザー名</label>
        <input class="form-control m-1" type="text" placeholder=<%= @user.name %> readonly>
        <label for="staticGender" class="col-form-label">性別</label>
        <input class="form-control m-1" type="text" placeholder=<%= @user.gender %> readonly>
        <label for="staticBirth" class="col-form-label">生年月日</label>
        <input class="form-control m-1" type="text" placeholder=<%= @user.birth %> readonly>
      </div>
        <% @children.each_with_index do |c, i| %>
          <% j = @pagy.page %>
          <% num = 3* (j-1) + (i+1) %>
          <div class="form-group row">
            <div class="col-sm-8">
              <label for="staticChildGender" class="col-form-label"><%= "お子様性別(第#{num}子)" %></label>
              <input class="form-control m-1" type="text" placeholder=<%= c.child_gender %> readonly>
              <label for="staticChildBirth" class="col-form-label"><%= "お子様生年月日(第#{num}子)"%></label>
              <input class="form-control m-1" type="text" placeholder=<%= c.child_birth %> readonly>
            </div>
          </div>
        <% end %>
    </div>

    <div class="mt-2 mb-2">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
    
    <%= link_to child_new_url(current_user.id) do %>
      <i class="m-3 btn btn-secondary w-200" role="button">お子様情報追加</i>
    <% end %>
  </div>
</div>

