<div style="text-align: center">
  <img src="/assets/panda_family.png" class="img-fluid" alt="パンダの親子", style="width: 25%">
</div>

<div class="row justify-content-center">
  <div class="col-sm-6 offset-sm-3">
    <div class="row border rounded pt-2 pb-2 mt-2 mb-2 col-sm-10 ">
      <div class="form-group row">
        <div class="col-8">
          <label for="staticName" class="col-form-label">ユーザー名</label>
        </div>
        <div class="col-8">
          <input class="form-control m-1" type="text" placeholder=<%= @user.name %> readonly>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-8">
          <label for="staticGender" class="col-form-label">性別</label>
        </div>
        <div class="col-8">
          <input class="form-control m-1" type="text" placeholder=<%= @user.gender %> readonly>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-8">
          <label for="staticBirth" class="col-form-label">生年月日</label>
        </div>
        <div class="col-8">
          <input class="form-control m-1" type="text" placeholder=<%= @user.birth %> readonly>
        </div>
      </div>
    </div>
    <% @children.each_with_index do |c, i| %>
      <% j = @pagy.page %>
      <%= "第#{ 3* (j-1) + (i+1) }子" %> 
      <div class="form-group row">
        <div class="col-8">
          <label for="staticChildGender" class="col-form-label">お子様性別</label>
        </div>
        <div class="col-8">
          <input class="form-control m-1" type="text" placeholder=<%= c.child_gender %> readonly>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-8">
          <label for="staticChildBirth" class="col-form-label">お子様生年月日</label>
        </div>
        <div class="col-8">
          <input class="form-control m-1" type="text" placeholder=<%= c.child_birth %> readonly>
        </div>
      </div>
    <% end %>
    
    <div class="mt-2 mb-2">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
    
    <%= link_to child_new_url(current_user.id) do %>
      <i class="m-3 btn btn-secondary w-200" role="button">お子様情報追加</i>
    <% end %>
    
  </div>
</div>


