<% if logged_in? %>
  <% @responses.each do |response| %>
    <div class="row p-1 m-1">
      <div class="col-sm-1 text-center mt-4">
        <img class="rounded-circle me-2 mt-1" src="<%= gravatar_url(response.user, { size: 60 }) %>" alt=""><br>
        <% if current_user == response.user %>
          <strong class="mx-2"><%= response.user.name %></strong>
        <% else %>
          <%= link_to response.user.name, message_new_path(id: current_user.id, chat_user_id: response.user.id) %>
        <% end %>
      </div>
      <div class="col-sm-8 mt-4 h-auto border rounded p-2" style="background-color: #F5FFFA;" >
        <%= simple_format(response.content) %>
        <% if response.image? %>
          <%= image_tag response.image.url, :alt => 'image' %>
        <% end %>
      </div>
      <% if current_user.name == response.user.name %>
      <div class="col-sm-1 text-center mt-4 pt-4">
        <%= link_to "削除", responses_url(response_id: response.id), method: :delete, data: { confirm: "回答を削除しますか?" }, class: 'btn btn-danger btn-sm' %>
      </div>
      <% end %>
    </div>
    <div class="offset-sm-1 px-1 py-0">
      <% response_time = response.created_at + ( 9 * 60 * 60 ) %>
      <p class= "text-gray-dark"><%= response_time.strftime("%Y年%m月%d日%H:%M")%></p>
    </div>
  <% end %>
    <div class="row" style="align-items: flex-end;">
    <aside class="offset-sm-1 col-sm-8" >
      <% if flash[:error].present? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul class="mb-0">
            <% flash[:error].each do |e| %>
              <li><%= e %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with(model: @response, url: responses_new_path) do |f| %>
        <div class="mb-3">
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.text_area :content, placeholder: '回答内容', class: 'form-control', rows: 5 %>
        </div>
        <div class="col-sm-12 d-flex" style="justify-content: flex-end;">
          <%= f.file_field :image %>
          <%= button_tag( class: "btn btn-default btn-sm") do %>
            <i class="far fa-paper-plane fa-3x"></i>
          <% end %>
        </div> 
      <% end %>
    </aside>
    </div>
  <% else %>
    <% @responses.each do |response| %>
      <div class="row p-1 m-1">
        <div class="col-sm-1 text-center">
          <%= response.user.name %>
          <img class="rounded-circle me-2 mt-1" src="<%= gravatar_url(response.user, { size: 60 }) %>" alt="">
        </div>
        <div class="col-sm-8 mt-4 h-auto border rounded p-2" style="background-color: #F5FFFA;" >
            <%= simple_format(response.content) %>
            <% if response.image? %>
              <%= image_tag response.image.url, :alt => 'image' %>
            <% end %>
        </div>
        <div class="offset-sm-1 px-1 py-0">
          <% response_time = response.created_at + ( 9 * 60 * 60 ) %>
          <p class= "text-gray-dark"><%= response_time.strftime("%Y年%m月%d日%H:%M")%></p>
        </div>
      </div>
    <% end %>
    <%= link_to 'ログインし、回答を送信する', login_path %>
  <% end %>