<h2>お悩み投稿</h2>
<%= form_with(model: @post, url: posts_path) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="col-md-10 my-3">
    <%= f.text_field :title, placeholder: "タイトル", class: 'form-control' %>
  </div>
  <div class="col-md-10 my-3">
    <%= f.text_area :content, placeholder: "お悩み内容", class: 'form-control', rows: 5 %>
  </div>
  <div class="col-md-10 my-3">
    <%= f.select :category_id, @categories.map{ |category| [category.name, category.id]}, { include_blank: 'カテゴリー選択'}, { class: 'form-control' , required: true }%>
  </div>
  <div class="col-md-10 d-flex", style="justify-content: space-between;">
    <%= f.label :image, class:"form-image-label" do %>
      <i class="fas fa-image fa-3x"></i>
      <%= f.file_field :image, style: 'display:none' %>
    <% end %>
    <%= button_tag( class: "btn btn-default btn-sm") do %>
      <i class="far fa-paper-plane fa-3x"></i>
    <% end %>
  </div> 
<% end %>
